.col
{
	width: 30%;
	margin: 15px;
	padding: 5px;
	background-color: aliceblue;
	text-align: left;

}
img
{
	border-radius: 10px;

}
h5
{
	font-style: bold;
}
.col
{
	width: 30%;
	margin: 15px;
	padding: 5px;
	background-color: aliceblue;
	text-align: left;

}
img
{
	border-radius: 10px;

}
h5
{
	font-style: bold;
}